[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BioTooltipR"]
	path = BioTooltipR
	url = https://github.com/mattjmeier/biotooltipr
